@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Montserrat";
  color: #333;
}

.content {
  max-width: 1200px;
  /* margin: 30px; */
  margin-left: 225px;
  /* padding: 20px; */
  /* display:flexbox; */
  align-items: center;

  
}  
/*--------------HOME PAGE - NAVIGATION BAR--------------*/
.navbar {
  /* MAX-width:fit-content; */
  padding: 8px;
  display:inline-flex;
  align-items: center;
  margin-left: 275px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}
/*how close the navigation buttons are from each other*/
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
/*Changes color to the navigation buttons when hovering*/
.navbar a:hover {
  color: #f1356d;
}

.navbar img{
  width: 250px;
  height: 100px;
  top: 50px;
  left: 26px;
  margin-right: 300px;

}

.home{
  width: 35%;
  display: inline-block;
}
/*--------------HOME PAGE - Box of content for Project listed--------------*/
.home-date-sched {
  /* display: inline-block; */
  width: 150%;
  /* border:hidden; */
  box-sizing:content-box;
  /* display: block; */
  /* margin-bottom: 30px; */
  display:inline-block; 

}
.home-date-sched label{
  /* display: inline-block; */
  /* width: 25%; */
  font-size: 25px;
  font-weight: bold;
  /* padding: 4px 10px; */
  /* margin: 6px 10px; */
  border: 2px #ddd solid;
  margin-top: 20px;

  border:hidden;
  box-sizing:content-box;
  /* display: block; */
  display:inline-block; 
  /* padding-left: 10px; */
  /* padding-right: 16px; */
}

.home-date-sched text{
  font-size: 30px;
  font-weight: bold;
  border: 2px #ddd solid;
  margin-left: 120%;
  margin-top: -100px;

  border:hidden;
  /* box-sizing:content-box; */
  display:inline-block; 

}
.home-date-sched p{
  font-size: 25px;
  font-weight: bold;
  border: 2px #ddd solid;
  margin-left: 50%;

  border:hidden;
  box-sizing:content-box;
  display:inline-block; 
  
}



.statsdate h2{
  width: 75%;
  padding: 6px 10px;
  margin: 10px 0;
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
}
.statsdate h3{
  /* width: 25%; */
  padding: 6px 10px;
  margin: 10px 0;
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
}


/*--------------HOME PAGE - project list--------------*/
.project-preview{
  /* max-width: 60%; */
  padding: 10px 20px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  /* background-color: #008DED; */

}
/* .project-rooms {
  width: 40%;
  font-size: 20px;
  align-content: center;
  /* padding: 10px 20px; *
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin: 20px 0; *
  /* : 10px bold #008DED; *
  background: rgba(229, 229, 229, 0.5);
  border: 1px solid #E5E5E5;
  /* box-sizing: border-box; *
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px; 
  display: inline-block;
 
  /* border-bottom: 1px solid #fafafa; *
  /* box-shadow: 1px 3px 5px rgba(0,0,0,0.1); *
  /* background-color: #eff3f7; *

} */

.pr-list{
  width: 40%;
  font-size: 20px;
  align-content: center;
  /* padding: 10px 20px; */
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin: 20px 0; */
  /* : 10px bold #008DED; */
  background: rgba(94, 236, 99, 0.816);
  border: 1px solid #E5E5E5;
  /* box-sizing: border-box; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px; 
  display: inline-block;
 
  /* border-bottom: 1px solid #fafafa; */
  /* box-shadow: 1px 3px 5px rgba(0,0,0,0.1); */
  /* background-color: #eff3f7; */
}

.project-rooms a{
  display: inline-block;
  width: 475px;
  height: 100px;
  margin-top: 10px;
  margin-left:5px; 
  text-decoration: none;
}
.project-rooms a:visited{
  background: rgb(61, 206, 247);
  border: 1px solid #008DED;
  border-radius: 5px;
}
/* .project-rooms a:hover{
  background: rgba(95, 102, 228, 0.5);
  border: 1px solid #008DED;
  border-radius: 5px;
} */

.project-prev p {
  font-size: 20px;
  /* color: #f1356d; */
  /* margin-bottom: 8px; */
  margin-top: 5px;
  margin-left: 85%;
  display:inline-block;
}

.events-home{
  /* position: absolute; */
  /* width: 372px; */
  height: 500px;
  /* left: 947px; */
  /* top: 222px;  */
  width: 150%;
  margin-bottom: 30px;


  /* background: #B6B9BB; */
  /* border: 1px solid #979797; */
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  overflow-y: scroll;
}

/* .project-preview label{
  display: block;

} */
.project-preview a {
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
  /* display:inline; */
  width: 50px;
  color: black;

}
/* .project-preview a:link{
  color: #c9330e;
}
.project-preview a:visited{
  color: #3535f1;
  background-color: #c9330e;
}
.project-preview a:hover{
  color: #10a015;
} */


.cal22 a {
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
  /* display:inline-block; */
  width: 50px;
  color: black;

}
.cal22 a:link{
  color: #c9330e;
}
.cal22 a:visited{
  color: #3535f1;
}
.cal22 a:hover{
  color: #10a015;
}

.project-preview h2 {
  /* font-size: 20px; */
  /* color: #f1356d; */
  /* margin-bottom: 8px; */
  margin-right: 199px;
  margin-left: 0px;
  display:inline-block;
}
.project-rooms img {
  width: 25px;
  height: 25px;
  /* margin-left: 40px;
  margin-right: 2px; */
  margin-right: -190px;
  margin-left: 280px;
  /* font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px; */
}
.project-rooms text {
  font-size: 20px;
  text-align: right;
  /* margin-left: 5px;
  margin-right: 1px; */

  margin-right: -250px;
  margin-left: 200px;}

/*--------------HOME PAGE - Project button--------------*/
.project-preview button {
  /* font-size: 10px; */
  /* background-color: #14a932; */
  margin-bottom: 8px;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: -250px;
  margin-left: 300px;
  /* display:inline-block; */
  display:inline-block;
  /* margin: 150px; */
}





/*--------------PROJECT ROOM PAGE--------------*/
.project-room h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.project-room div{
  margin: 20px 0;
}
.project-room button{
  /* font-size: 25px; */
  background: #424240;
  color: #fff;
  /* border: 0; */
  padding: 8px;
  height: 30px;
  border-radius: 8px;
  /* margin-top: 10px; */
  /* margin-left: 1000px; */
  cursor: pointer;
  font-weight: bold;
  border: 2px #ddd solid;
  /* margin-right: 200px;
  margin-left: 200px; */
 /* margin-bottom: 20px; */
  /* border:hidden; */
  box-sizing:content-box;
  /* display:inline-block;  */
   display: inline-block;

}

/* .project-room-popup-button button{
  /* font-size: 25px; */
  /* font-weight: bold; */
  /* margin-left: auto; */
  /* padding: 4px 10px; */
  /* margin: 6px 10px; *
  background: #424240;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  /* border: 2px #ddd solid; */
  /* margin-top: 20px; */

  /* border:hidden; *
  box-sizing:content-box;
  /* display: block; * display: inline-block;

} */



/*--------------SCHEDULE PAGE--------------*/
.event-list-preview {
  padding: 10px 100px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

}
.event-list-preview a{
  text-decoration: none; 
}

.schedule{
    max-width: 1000px;

}

.schedule input, .schedule select{
  width: 50%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
  /* display: inline-block;  */
  /* height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 10px; */
}
.schedule label{
  width: 40%;
  padding: 6px 10px;
  margin: 10px 0;
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
} 
.schedule h2{
  margin-bottom: 30px;
}

/*--------------ADD a New EVENT  BUTTON IN SCHEDULE--------------*/

.schedule button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
  /* margin-right: 30px; */
  margin-left: 200px;
  display:inline-block;
 
}
/*--------------ADD EVENT FORM IN SCHEDULE--------------*/
.Event-information{
  display: flex;
}
.Event-information-calendar{
  width:50%;
  display: inline-block;
}
.addNewEvent {
  width: 30%;
  /* margin: 0 auto; */
  margin-right: 5%;
  margin-left: 5%;

  display: inline-block;
  text-align: center;
}

.addNewEvent label{
  text-align: left;
  display: block;
}

.addNewEvent h2{
  font-size: 20px;
  color:#f1356d;
  margin-bottom: 30px;
  margin-top: 30px;

}

.addNewEvent input, .addNewEvent textarea, .addNewEvent select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  /* margin-bottom: 10px; */
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
}


.addNewEvent button{
  margin-bottom: 8px;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 30px;
  display:inline-block;
}
.schedule-buttons button{
  /* margin-bottom: 8px; */
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  /* display:inline-block; */
}

.schedule-container{
  display: flex;
  flex-direction: column;
}
/*--------------EVENT DETAIL PAGE--------------*/
.event-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
  margin-top: 20px;
  /* display: inline-block; */
}
.event-details input{
  /* font-size: 20px;
  color: #f1356d; */
  margin-bottom: 10px;
  display: inline-block;
}

.event-details div{
  margin: 20px 0;
}

.event-details button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*-------------- LOG IN FORM IN LOG IN--------------*/
.signIn {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.signIn label{
  text-align: left;
  display: block;
}

.signIn h2{
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 75px;
  display: flex;
  align-items: center;
 
  color:#000000;
  margin-bottom: 30px;
}

.signIn input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  /* box-sizing: border-box; */
  display: block;
}

.signIn button{
 
  background: #008DED;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;

  width: 175px;
  height: 38px;
  top: 10px;
}

.signIn img{
  width: 250px;
  height: 100px;
  top: 103px;
  left: 564px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.recaptcha{
  
  top: 10px;
  margin: 20px 50px;
  /* border: 1px solid #ddd; */
  /* box-sizing: border-box; */
  /* display: block; */
}

/*-------------- SIGN UP FORM IN USER SIGN UP FORM--------------*/
/* .signupImage img{
  align-items: left;
  width: 250px;
  height: 100px;
  top: 6px;
  left: 6px;
} */

.generalInfoSignUp {
  /* max-width: 400px; */
  margin: 0 auto;
  /* margin-bottom: 20px; */
  /* margin-top: 0px; */
  text-align: center;
  width:500px;
  height: 720px;/* 400px; /* how wide will the border around the information will be*/
  /* height: 750px; how long will the border around the information will be */
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}

.generalInfoSignUp-student {
  /* max-width: 400px; */
  margin: 0 auto;
  /* margin-bottom: 20px; */
  /* margin-top: 0px; */
  text-align: center;
  width:500px;
  height: 720px;/* 400px; /* how wide will the border around the information will be*/
  /* height: 750px; how long will the border around the information will be */
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}

.generalInfoSignUp label, .changePass label{
  text-align: left;
  margin: 0px 20px; /*under_label left*/
  display: block;
}

.generalInfoSignUp h1{
  margin-top: 30px;
  font-size: 20px;
  color:#000000;
  margin-bottom: 30px;
}

.generalInfoSignUp .Select{
  height: 20px;
}

.account-created h1{
  margin-top: 30px;
  margin-left: 10px;
  font-size: 20px;
  color:#000000;
  margin-bottom: 30px;
}

.account-created p, .askChangePass p, .changePass p{
  /* margin-top: 30px; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: justify;
  /* font-size: 20px; */
  /* color:#f1356d; */
  /* margin-bottom: 30px; */
}

.generalInfoSignUp h2, .askChangePass h1, .changePass h1{
  /* font-size: 20px; */
  /* color:#f1356d; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.generalInfoSignUp input, .generalInfoSignUp select, .askChangePass input, .changePass input{
  width: 90%; /*represents how log the box will be visually*/
  padding: 6px 10px; /* 10px = where it starts writting inside box; 6px = how thick the box is (size) downwards*/
  margin: 0px 20px 10px; /* 0px = how close the box is to label (above box); 20px = how close box is to left margin; 10px = how close the box is to the next box (below box) */
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;

}

.generalInfoSignUp button, .askChangePass button, .changePass button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  margin-bottom: 60px;
  /* width: 75px; */
  height: 38px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.signupButtons button{
  margin-right: 50px;
  margin-left: 50px;
  display:inline-block;
}

.askChangePass {
  /* max-width: 400px; */
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  width:500px;
  height: 300px;/* 400px; /* how wide will the border around the information will be*/
  /* height: 750px; how long will the border around the information will be */
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}

.changePass {
  /* max-width: 400px; */
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  width:500px;
  height: 450px;/* 400px; /* how wide will the border around the information will be*/
  /* height: 750px; how long will the border around the information will be */
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}
/* .dropdown-project select{
  /* width: 100%; *
  padding: 6px 10px;
  margin: 0 10px; /* above_block left under_block 
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
} */


/*.backB button{
  background: #E54242;
   /* margin-right: 1px; 
  /* margin-bottom: -10px;  *
} */





.sponsors h1{
  position: absolute;
  width: 477px;
  height: 45px;
  left: 450px;
  top: 300px;
  
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.004em;
  
  color: #000000;
  

}



.logo-preview img{
  width: 200px;
  height: 50px;
}
/* 
.project-preview-checkbox input{
  /* padding: 10px 100px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1); 
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;

}
.project-preview-checkbox {
  padding: 10px 100px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
} */

.dropdown-project select{
  
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd; 
  box-sizing: border-box;
  display: block;

}
/* .dropdown-project h2{
  font-size: 20px;
  color:#f1356d;
  margin-bottom: 30px;
} */
/* 
.general-info input, .general-info select{
  
   width: 100%;
  /* padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd; 
  box-sizing: border-box;
  display: block;  
    /* position: absolute; 
  width: 535px;
  height: 46px;
  left: 452px;
  top: 753px;

  background: #FFFEFE;
  border: 2px solid #A7A7A7;
  box-sizing: border-box;
  border-radius: 5px;

} */

.checklist input{
  /* font-size: 100px; */
  display: inline-block; 
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 10px;

}


/* .stats text {
  /* font-size: 20px;
  text-align: left;
  margin-bottom: 20px; *

  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  border:hidden;
  box-sizing: border-box;
  /* display: block; *
  display:inline-block; 
} */

/* .stats h2, .stats h3 {
  /* font-size: 20px;
  text-align: left;
  margin-bottom: 20px; *
  margin-top: 30px;
  margin-bottom: 30px;
 
} */

.verifying label{
  width: 35%;
  padding: 4px 0px;
  margin: 6px 10px;
  border: 2px #ddd solid;

  border:hidden;
  box-sizing: border-box;
  display: block;
  display:inline-block; 
}

/*-------------- STAGE --------------*/
.bbb div {
  display: flex;
  justify-content: center;
}

.iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  height: 630px;
  width: 1120px;
  overflow-y: scroll;
}

.BarContainer {
  height: 20;
  width: 100%;
  background-color: rgb(197, 231, 209);
  border-radius: 50;
  margin: 50;
}

body .temp {
  display: none;
  height: 0;
  width: 0;
}




body {
    position: relative;
}

html,
body {
    height: 100%;
}

body {
    display:inline-block;
    width: 100%;
    height: 100%;
    overflow: auto;
    min-height: 80px;
    box-sizing: border-box;
    padding: 30px;
}

@keyframes k-loading-animation  {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.k-i-loading.k-example-loading {
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(144,152,165);
}

.k-i-loading.k-example-loading::before,
.k-i-loading.k-example-loading::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    content: "";
    box-sizing: inherit;
    border-radius: 50%;
    border-width: .05em;
    border-style: solid;
    border-color: currentColor;
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
}
.k-icon.k-i-loading.k-example-loading::before,
.k-icon.k-i-loading::after {
    content: "";
}

.k-i-loading.k-example-loading::before {
    margin-top: -0.5em;
    margin-left: -0.5em;
    width: 1em;
    height: 1em;
    animation: k-loading-animation .7s linear infinite;
}

.k-i-loading.k-example-loading::after {
    margin-top: -0.25em;
    margin-left: -0.25em;
    width: .5em;
    height: .5em;
    animation: k-loading-animation reverse 1.4s linear infinite;
}

.example-wrapper {
    min-height: 280px;
    align-content: flex-start;
}
.example-wrapper p, .example-col p {
    margin: 20px 0 10px;
}
.example-wrapper p:first-child, .example-col p:first-child {
    margin-top: 0;
}
.example-col {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 20px;
}
.example-config {
    margin: 0 0 20px;
    padding: 20px;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.08);
}
.event-log {
    margin: 0;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    list-style-type: none;
    border: 1px solid rgba(0,0,0,.08);
    background-color: white;
}
.event-log li {
    margin: 0;
    padding: .3em;
    line-height: 1.2em;
    border-bottom: 1px solid rgba(0,0,0,.08);
}
.event-log li:last-child {
    margin-bottom: -1px;
}


.scheduler{
  /* margin-left: 700px; */
  max-width: 600px; 
  /* margin-right: 100px; */
  /* margin-top: 20px; */
  display: flex;

}

.c2{
  max-width: 400px; 
  /* display: inline-block; */
  padding: 6px 10px;
  margin: 20px 25px;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  box-sizing:content-box;  
  text-decoration: none; 
  /* margin-right: -300px;
  /* margin-left: 350px;  */
} 

.c2 a {
  margin-left: 6px;
  text-decoration: none;
  padding: 6px;
}

.cal2{
  margin: 20px 20px;

  display: flex;
}
/* 
.cal22{
  max-width: 400px; 
  /* display: inline-block; *
  padding: 6px 10px;
  margin: 10px 0px;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);  
  text-decoration: none; 
  /* margin-right: -300px;*
  /* margin-left: 350px;  *
} */
.cal2 h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.admin-ann {
  position: absolute;
  width: 372px;
  height: 490px;
  left: 947px;
  top: 280px;

  background: #B6B9BB;
  border: 1px solid #979797;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  overflow-y: scroll;
}



.announce-body{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  padding: 10px 20px;
  margin: 10px 10px;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
/* .stage{
  display: inline-block;
} */
.stage h2{
  font-size: 25px;
  font-weight: bold;
  /* padding: 4px 10px; */
  /* margin: 6px 10px; */
  border: 2px #ddd solid;
  margin-top: 10px;

  border:hidden;
  box-sizing:content-box;
  /* display: block; */
  display:inline-block; 
  /* width: 10%;
  padding: 6px 10px;
  margin: 10px 0;
  display: inline-block; */
}
.stage h3{
  font-size: 25px;
  font-weight: bold;
  border: 2px #ddd solid;
  margin-left: 27%;

  border:hidden;
  box-sizing:content-box;
  display:inline-block; 
  /* width: 10%;
  padding: 6px 10px;
  margin: 10px 0;
  display: inline-block; */
}


.stage-announcements .admin-ann{
  position: absolute;
  width: 372px;
  height: 125px;
  left: 1000px;
  top: 200px;

  background: #B6B9BB;
  border: 1px solid #979797;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  display: inline-block;
  overflow-y: scroll;
}
.stage-announcements .announce-footer{
  position: absolute;
  width: 85%;
  /* height: 668px; */
  left: 1000px;
  top: 325px;
  /* margin-bottom: 30px; */
 
  /* height: 100%; */
  /* flex: 85%; */
  /* border: 0; */
  border-radius: 8px;
  /* font-size: 20px; */
  /* border-right: 1px dotted #607d8b; */

  /* outline: none; */
}
.stage-announcements .announce-footer input{
  /* position: absolute; */

  width: 22%;
  height: 25px;
  /* margin-bottom: 30px; */
}
.stage-announcements .announce-footer button{
  /* width: 90%; */
  /* position: absolute; */
  height: 30px;

  margin-bottom: 30px;
}

.stage-upcoming{
  position: absolute;
  /* width: 372px; */
  height: 125px;
  left: 500px;
  top: 200px;
}

.announce-body text{
  margin-left: 75%;

}
.announce-body p{
  width: 300px;
}

.announce-footer{
  position: absolute;
  width: 85%;
  /* height: 668px; */
  left: 948px;
  top: 770px;
  /* margin-bottom: 30px; */
 
  /* height: 100%; */
  /* flex: 85%; */
  /* border: 0; */
  border-radius: 8px;
  /* font-size: 20px; */
  /* border-right: 1px dotted #607d8b; */

  /* outline: none; */
}
.announce-footer input{
  /* position: absolute; */

  width: 22%;
  height: 25px;
  /* margin-bottom: 30px; */
}
.announce-footer button{
  /* position: absolute; */

  /* width: 90%; */
  /* position: absolute; */
  height: 30px;

  margin-bottom: 30px;
}

.home-button button{
  background: #424240;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 1000px;
  display: inline-block;
  cursor: pointer;
}

/* .home-date-sched button{
  background: #424240;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 1000px;
  display: inline-block;
  cursor: pointer;
} */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

/* .project-room button{
  background: #424240;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 1000px;
  display: inline-block;
  cursor: pointer;
} */

.rooms button{
  background: #424240;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 900px;
  display: inline-block;
  cursor: pointer;
}
.rooms h2{
  display: inline-block;
}


:root {
  --primary-light: #39ddfa;
  --primary: #00abdf;
  --primary-dark: #008ada;
  
  --white: #FFFFFF;
  --greyLight-1: #ebf5fc;
  --greyLight-2: #d5e0f3;
  --greyLight-3: #c1d9f0;
  --greyDark: #646b8c;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* overflow-y: scroll; 
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .5px;
  line-height: 1.4;
} */

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--greyLight-2);
  padding: 2rem;
}

.card {
  width: 34rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: var(--greyLight-1);
  box-shadow: 0px 20px 30px rgba(100, 131, 177, 0.2);
  padding: 5rem;
  border: 1px solid white;
}
.card__percent {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem;
  }

.card__number {
      position: absolute;
      color: var(--greyDark);
      font-size: 3.6rem;
      font-family: 'DM Sans', sans-serif;
  }

.card__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
}
.card__description h2 {
          font-size: 1.8rem;
          font-family: 'DM Sans', sans-serif;
          letter-spacing: 1.2px;
          margin-bottom: 1rem;
          color: var(--primary);
  }
 .card__description p {font-size: 1.4rem;
          color: var(--greyDark);
  }
  


svg {
  position: relative;
  width: 24rem;
  height: 24rem;
  z-index: 1000;
  transform: rotate(-90deg);
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-linecap: round;
  transform: translate(3rem, 3rem);
  stroke-dasharray: 565.49; 
  stroke-dashoffset: 282.75;
  transition: all 1s ease;
  stroke-width: 24;
}
.circle {
  position: absolute;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  box-shadow: 6px 6px 8px var(--greyLight-2),
              -6px -6px 8px var(--white);
  background: var(--greyLight-1);
}
.circle_medium {
      width: 20.5rem;
      height: 20.5rem;
      box-shadow: inset 8px 8px 10px var(--greyLight-2),
                  inset -4px -4px 8px var(--white);
  }
  .circle_small {
      width: 15.5rem;
      height: 15.5rem;
      box-shadow: 6px 6px 8px var(--greyLight-2),
                  -2px -2px 8px var(--white);
  }


.form {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  padding: 4rem;
  margin-left: 4rem;
  border-radius: 2rem;
  background: var(--greyLight-1);
  text-align: center;
  box-shadow: 0px 20px 30px rgba(100, 131, 177, 0.2);
  border: 1px solid var(--white);
  position: relative;
}
  .form_text {
      grid-column: 1 / 3;
      font-weight: 400;
      margin-bottom: 2rem;
      color: var(--greyDark);
  }

.form input {
      border: none;
      outline: none;
      background: none;
      font-family: inherit;
      width: 5rem;
      font-size: 1.6rem;
      text-align: center;
      padding: .8rem;
      border-radius: 1rem;
      margin-right: 1rem;
      color: var(--primary);

      box-shadow: inset .2rem .2rem .4rem var(--greyLight-2),
                  inset -.3rem -.3rem .4rem var(--white);
      /* &::placeholder { color: var(--greyLight-3); } */
      /* &:focus { color: var(--primary);
          box-shadow: .3rem .3rem .6rem var(--greyLight-3), 
                          -.2rem -.2rem .5rem var(--white); } */
  }

.form_btn {
      border: none;
      outline: none;
      font-family: 'DM Sans', sans-serif;
      letter-spacing: .8px;
      background: var(--greyLight-1);
      padding: .8rem 2rem;
      border-radius: 2rem;
      color: var(--white);
      cursor: pointer;
      background: linear-gradient(-25deg, var(--primary) 0%, var(--primary-light) 100%);
      
      /* &:hover {
          background: linear-gradient(-25deg, var(--primary-dark) 0%, var(--primary) 100%);
      } */
  }



.tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -6rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: var(--greyLight-1);
  font-size: 1.2rem;
  color: var(--primary-dark);
  opacity: 0;
  transition: all .3s ease;

  /* &__text { margin-left: .6rem;}

  &.fade-in { animation: fadeIn .8s ease;}
  
  &::after {
      content: '';
      position: absolute;
      left: 45%;
      bottom: 74%;
      width: 2rem;
      height: 2rem;
      background: var(--greyLight-1);
      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
      transform: rotate(135deg);
      border-radius: 0 0 0 0.4em;
      
  } */
}

.dribbble {
position: fixed;
font-size: 3.6rem;
right: 2rem;
top: 2rem;
color: #EA4C89;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-40px) scale(.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.stat-prog{
  /* transform: rotate(-90deg); */
  /* height: 100px;*/
  width: 100%; 
  /* resize: both; */
  display: inline-block;
}
.stat-prog-bar {
  width: 50%;
  padding: 6px 10px;
  margin: 10px 0;
  /* border: 1px solid #ddd; */
  /* box-sizing: border-box; */
  /* display: block; */
  display:inline-block; 
}
.stat-prog p{
  width: 25%;
  padding: 6px 10px;
  margin: 10px 0;
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
}
.stat-prog h3{
  font-weight: bold;
  margin-top: 30px;
}


/* #app {
  margin-top: 40px;
} */
/* 
  outline: none;
} */

#email:valid {
  color: green;
}
#email:invalid {
  color: red;
}



.progress-container{
  height: 20px;
  width: 75%;
  background-color: gray;
  border-radius: 10px;
  margin: 50px;
}
.progress-filler{
  height: 100%;
  border-radius: inherit;
  text-align: center;
}
.progress-label{
  padding: 5px;
  color: white;
  font-weight: bold;
}

.form-sr-rp{
  height: 20px;
}


.schedule-prev h2{ 
  width: 40%;
  padding: 6px 10px;
  /* margin: 10px 0; */
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
}
.schedule-prev p {
  width: 10%;
  padding: 6px 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  /* margin: 10px 90px; */
  /* border: 1px solid #ddd; */
  /* box-sizing: border-box; */
  /* display: block; */
  display:inline-block; 
 
}

.schedule-button h2{
  /* width: 10%; */
  padding: 6px 10px;
  margin: 10px 0;
  /* border: 1px solid #ddd; */
  /* box-sizing: border-box; */
  /* display: block; */
  display:inline-block; 
}

.schedule-button button{
  margin-left: 75%;
  font-size: 15px;
  background: #25b12a;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  
  /* display: inline-block; */
  cursor: pointer;
}