@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Montserrat";
  color: #333;
  /* align-self: center; */
}

body .temp {
  display: none;
  height: 0;
  width: 0;
}

body {
    position: relative;
}

html,
body {
    height: 100%;
}

body {
    display:inline-block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* min-height: 80px; */
    box-sizing: border-box;
    padding: 10px;
}

svg{
  height: 20px;
  width: 20px;
}
/* .content { */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* margin-left: 150px; */
  /* padding: 20px; */
  /* display:flex; */
  /* align-items: center; */
  /* align-content: center; */
/* }   */
/*---------------------------------------------- NAVIGATION BAR ----------------------------------------------*/
.navbar {
  width:100%;
  padding: 8px;
  display:flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.links {
  margin-left: auto;
}
.navb h3{
  /* align-items: right; */
  margin-top: 10px;
  margin-left: 1100px;
  /* margin-bottom: 0px; */
}
/* .navbar .links img{
  margin-left: auto;
} */
/*how close the navigation buttons are from each other*/
.navbar a {
  margin-left: 14px;
  text-decoration: none;
  padding: 6px;
}
/*Changes color to the navigation buttons when hovering*/
.navbar a:hover {
  color: #f1356d;
}

.navbar img{
  width: 250px;
  height: 100px;
  display: flex;
}

/*---------------------------------------------- HOME PAGE ----------------------------------------------*/

.home{
  /* width: 35%; */
  display: flex; 
}

/*Home schedule date container*/
.home-container2{
  margin-left: 8%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.home-date-sched {
  /* width: 50%; */
  margin-top: 2%;
  /* align-items: center; */
  display:inline-block;  
}
/* .home-date-sched-1 {
  /* width: 62.5%; */
  /* margin-left: 5%; */
  /* align-items: center; */
  /* display:inline-block;  */
/* }  */
.home-date-sched label{
  font-size: 25px;
  font-weight: bold;
  border: 2px #ddd solid;
  /* margin-top: 20px; */

  border:hidden;
  box-sizing:content-box;
  display:inline-block; 
}

.home-date-sched p{
  /* width: 100%; */
  font-size: 25px;
  font-weight: bold;
  border: 2px #ddd solid;
  margin-left: 60%;
  /* margin-top: 20px; */
  border:hidden;
  box-sizing:content-box;
  display:inline-block; 
}

.home h2{
  font-size: 30px;
  font-weight: bold;
  border: 2px #ddd solid;
  margin-left: 12%;
  /* margin-top: -100px; */
  border:hidden;
  /* box-sizing:content-box; */
  display:inline-block; 
}
.home-date-sched button{
  background: #424240;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 350px;
  display: inline-block;
  cursor: pointer;
}

.announcements-home{
  
  margin-top:2%;
  margin-left: 8%;
  display: inline-block;
}

/*Display event list*/

.events-home{
  /* position: absolute; */
  height: 500px;
  margin-bottom: 30px;
  /* width: 50%; */
  margin-top: 5%;
  box-sizing: border-box;
  overflow-y: scroll;
  display: inline-block;
}

.events-home p {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 85%;
  display:inline-block;
}
.events-home h2 {
  margin-left: 0px;
  display:inline-block;
}

.project-preview{
  padding: 10px 20px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
/*Project room & Speaker buttons */
.project-preview button {
  margin-bottom: 8px;
  background: #008DED;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: -250px;
  margin-left: 300px;
  display:inline-block;
}
/*Announcemnts Container*/
.home-container{
  /* margin-left: 70%; */
  display: flex;
  flex-direction: column;
}
/*Display announcement list*/
.ann-title{
  /* text-align: center; */
margin-left: 25px;
  display: flex;
}
.admin-ann {
  /* position: absolute; */
  width: 372px;
  /* width: 31%; */
  height: 490px;
  /* left: 850px; */
  /* right: 285px; */
  /* right: 10%; */
  top: 100px;

  background: #B6B9BB;
  border: 1px solid #979797;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  /* display: flex; */
  display: inline-block;
  overflow-y: scroll;
}

.announce-body{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  padding: 10px 20px;
  margin: 10px 10px;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.announce-body text{
  margin-left: 140px;
  display: inline-block;

}
.announce-body p{
  width: 300px;
}
/*Delete Announcement Button*/
.announce-body button{
  height: 25px;
  width:80px;
  /* margin-left: 10%; */
  /* margin-bottom: 20px; */
  background: #bc0707;
  color: #fff;
  border: 0;
  /* padding: 8px 20px; */
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
}

.announce-footer{
  /* position: absolute; */
  width: 400px;
  /* left: 850px; */
  /* right: 8.5%; */

  top: 730px;
  display: flex;
  /* border-radius: 8px; */
}

.announce-footer input{
  width: 75%;
  height: 25px;
  border-radius: 3px;
}
/*Send announcement button*/
.announce-footer button{
  height: 25px;
  width:18%;
  /* margin-left: 10%; */
  margin-bottom: 20px;
  background: #008DED;
  color: #fff;
  border: 0;
  /* padding: 8px 20px; */
  border-radius: 8px;
  cursor: pointer;
}

/*---------------------------------------------- STAGE PAGE ----------------------------------------------*/

.stage-announcements .admin-ann{
  position: absolute;
  width: 372px;
  height: 125px;
  left: 857px;
  top: 200px;

  background: #B6B9BB;
  border: 1px solid #979797;
  box-sizing: border-box;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  display: inline-block;
  overflow-y: scroll;
}
.stage-announcements .announce-footer{
  position: absolute;
  left: 857px;
  top: 325px;
  width: 372px;

}
.stage-announcements .announce-footer input{
  /* position: absolute; */

  width: 82%;
  height: 30px;
  /* margin-bottom: 30px; */
}
.stage-announcements .announce-footer button{
  /* width: 90%; */
  /* position: absolute; */
  height: 30px;
  width: 18%;
  margin-bottom: 30px;
}

.stage h2{
  font-size: 25px;
  font-weight: bold;
  border: 2px #ddd solid;
  margin-top: 10px;
  border:hidden;
  box-sizing:content-box;
  display:inline-block; 
}
.stage h3{
  font-size: 25px;
  font-weight: bold;
  border: 2px #ddd solid;
  margin-left: 29%;
  border:hidden;
  box-sizing:content-box;
  display:inline-block; 
 }

.stage-upcoming{
  position: absolute;
  margin-left: 27%;
  height: 125px;
  top: 200px;
}

/*---------------------------------------------- ROOMS PAGE ----------------------------------------------*/

.rooms button{
  background: #424240;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 900px;
  display: inline-block;
  cursor: pointer;
}
.rooms h2{
  margin-left: 5%;
  margin-bottom: 20px;
  display: inline-block;
}

.pr-list{
  width: 40%;
  font-size: 20px;
  align-content: center;
  margin-left: 5%;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* background: rgba(94, 236, 99, 0.816); */
  /* border: 1px solid #E5E5E5; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px; 
  display: inline-block;
}

.project-rooms img {
  width: 25px;
  height: 25px;
  /* margin-left: 40px;
  margin-right: 2px; */
  margin-right: -190px;
  margin-left: 280px;
  /* margin-bottom: 10px; */
  /* font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px; */
}
.project-rooms text {
  font-size: 20px;
  text-align: right;
  color: #000000;
  /* margin-left: 5px;
  margin-right: 1px; */
  /* margin-bottom: 20px; */

  margin-right: -250px;
  margin-left: 200px;}

.project-rooms a{
  display: inline-block;
  background: rgba(94, 236, 99, 0.816);

  width: 511px;
  height: 100px;
  /* margin-top: 10px; */
  /* margin-left:5px;  */
  text-decoration: none;
}
.project-rooms a:visited{
  background: rgb(146, 158, 161);
  border: 1px solid #939ca2;
  border-radius: 5px;
}

.project-rooms a:hover{
  background: rgb(30, 185, 228);
  border: 1px solid #008DED;
  border-radius: 5px;
}

/* .project-rooms text{

  margin-bottom: 20px;
} */

/*---------------------------------------------- CONFERENCE SCHEDULE ----------------------------------------------*/


/*--------Schedule main view--------*/
.schedule-prev h2{ 
  width: 50%;
  padding: 6px 10px;
  border:hidden;
  box-sizing: border-box;
  display:inline-block; 
}
.schedule-prev p {
  width: 150px;
  margin-bottom: 10px;
  margin-left: 25%;
  display:inline-block; 
}
.schedule-prev text {
  width: 90px;
  margin-bottom: 10px;
  margin-left: 10px;
  display:inline-block; 
}
.schedule-done h2, .review-page h2{
  padding: 6px 10px;
  margin: 10px 0;
  display:inline-block; 
}
.schedule-done button{
  margin-left: 75%;
  font-size: 15px;
  background: #25b12a;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}
.schedule-button button{
  /* margin-left: 75%; */
  margin-top: 20px;
  font-size: 15px;
  background: #25b12a;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}
.schedule-button h2{
  margin-left: 500px;
  margin-top: 30px;
  /* font-size: 15px; */
  /* background: #25b12a; */
  /* color: #fff; */
 
}

/*--------Schedule Create view---------*/
.cal2{
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
}
.cal22{
  max-width: 500px; 
  height: 650px;
  margin-bottom: 30px;
  overflow-y: scroll;
}
.schedule-container{
  display: flex;
  flex-direction: column;
}
.schedule-buttons button{
  background: #008DED;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 60px;
  margin-top: 10px;
}
.scheduler{
  width: 600px; 
  display: flex;
}
.c2{
  max-width: 400px; 
  padding: 6px 10px;
  margin: 20px 25px;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  box-sizing:content-box;  
  text-decoration: none; 
} 
.c2 a {
  margin-left: 6px;
  text-decoration: none;
  padding: 6px;
}
.c2 button{
  background: #008DED;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 300px;
  margin-top: 10px;
}
/*--------Modify Event Information view---------*/
.Event-information{
  display: flex;
}
.Event-information-calendar{
  width:50%;
  display: inline-block;
}
.addNewEvent {
  width: 30%;
  margin-right: 5%;
  margin-left: 5%;
  display: inline-block;
  text-align: center;
}
.addNewEvent label{
  text-align: left;
  display: block;
}
.addNewEvent h2{
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.addNewEvent input, .addNewEvent textarea, .addNewEvent select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
}
.addNewEvent button{
  margin-bottom: 8px;
  background: #bc0707;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  display:inline-block;
}
/* REVIEW PAGE */
.review-page button{
  margin-left: 750px;
  font-size: 15px;
  background: #25b12a;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}

/*---------------------------------------------- CONFERENCE SCHEDULE ----------------------------------------------*/
.members-validation h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.display-members-validation button{
  margin-left: 30px;
  font-size: 15px;
  background: #25b12a;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}
.display-members-validation li{
  margin-left: 30px;
  margin-top: 20px; 
  margin-bottom: 20px;
  /* font-size: 15px; */
 
}

/*---------------------------------------------- SETTINGS ----------------------------------------------*/
.settings p {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
}
.settings a {
  text-decoration: none;
  padding: 6px;
  /* display:inline-block; */
  /* width: 50px; */
  color: black;
}
/* .settings a:link{
   color: green;
} */
.settings a:visited{
  /* text-decoration: none; */
  color: red;
}
.settings a:hover{
  /* text-decoration: none; */
  color: blue;

}
.settings h1{
  margin-top: 10px;
  /* font-size: 20px; */
}
.settings h2{
  margin-top: 30px;
  /* font-size: 20px; */
}

/*---------------------------------------------- ACCOUNT ----------------------------------------------*/
.account h1{
  margin-top: 10px;
  /* font-size: 20px; */
}
.account h2{
  margin-top: 30px;
  /* font-size: 20px; */
}
.account label{
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  padding: 4px 0px;
  /* margin: 6px 10px; */
  border: 2px #ddd solid;

  border:hidden;
  box-sizing: border-box;
  display: block;
  display:inline-block; 
}
.account p{
  margin-left: 20px;
  margin-top: 10px;
}
.account a{
  text-decoration: none;
  color:#008DED;
}

/*---------------------------------------------- STATS PAGE ----------------------------------------------*/
.stat-prog{
  width: 100%; 
  display: inline-block;
}
.stat-prog-bar {
  width: 50%;
  padding: 6px 10px;
  display:inline-block; 
}
.stat-prog p{
  width: 25%;
  padding: 6px 10px;
  /* margin: 10px 0; */
  margin-left: 50px;
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
}
.stat-prog h3{
  font-weight: bold;
  margin-top: 30px;
}
/*max value of progressbar*/
.progress-container{
  height: 20px;
  background-color: gray;
  border-radius: 10px;
  margin: 5px;
}
/*percentage of max value*/
.progress-filler{
  height: 100%;
  border-radius: inherit;
  text-align: center;
}
/*Value inside progress bar*/
.progress-label{
  padding: 5px;
  color: white;
  font-weight: bold;
}
/*Title & Date*/
.statsdate h2{
  width: 75%;
  padding: 6px 10px;
  margin: 10px 0;
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
}
.statsdate h3{
  /* width: 25%; */
  padding: 6px 10px;
  margin: 10px 0;
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
}





/* 
.cal22 a {
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
  /* display:inline-block; *
  width: 50px;
  color: black;

}
.cal22 a:link{
  color: #c9330e;
}
.cal22 a:visited{
  color: #3535f1;
}
.cal22 a:hover{
  color: #10a015;
} */

/*----------------------------*/
.event-list-preview {
  padding: 10px 100px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

}
.event-list-preview a{
  text-decoration: none; 
}


/*--------------SCHEDULE DAY FILE PAGE--------------*/

.schedule input, .schedule select{
  width: 50%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
  /* display: inline-block;  */
  /* height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 10px; */
}
.schedule label{
  width: 40%;
  padding: 6px 10px;
  margin: 10px 0;
  border:hidden;
  box-sizing: border-box;
  /* display: block; */
  display:inline-block; 
} 
.schedule h2{
  margin-bottom: 30px;
}



.project-preview a {
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
  /* display:inline; */
  width: 50px;
  color: black;

}
/* .project-preview a:link{
  color: #c9330e;
}
.project-preview a:visited{
  color: #3535f1;
  background-color: #c9330e;
}
.project-preview a:hover{
  color: #10a015;
} */






/*---------------------------------------------- PROJECT ROOM PAGE ----------------------------------------------*/
.project-room h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.project-room div{
  margin: 20px 0;
}
.project-room button{
  /* font-size: 25px; */
  background: #008DED;
  color: #fff;
  /* border: 0; */
  padding: 8px;
  height: 30px;
  border-radius: 8px;
  /* margin-top: 10px; */
  /* margin-left: 1000px; */
  cursor: pointer;
  font-weight: bold;
  border: 2px #ddd solid;
  /* margin-right: 200px;
  margin-left: 200px; */
 /* margin-bottom: 20px; */
  /* border:hidden; */
  box-sizing:content-box;
  /* display:inline-block;  */
   display: inline-block;

}





/*--------------EVENT DETAIL PAGE--------------*/
.event-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
  margin-top: 20px;
  /* display: inline-block; */
}
.event-details input{
  /* font-size: 20px;
  color: #f1356d; */
  margin-bottom: 10px;
  display: inline-block;
}

.event-details div{
  margin: 20px 0;
}

.event-details button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*---------------------------------------------- LOG IN ----------------------------------------------*/
.signIn {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.signIn label{
  text-align: left;
  display: block;
}

.signIn h2{
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 75px;
  display: flex;
  align-items: center;
 
  color:#000000;
  margin-bottom: 25px;
}

.signIn input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  /* box-sizing: border-box; */
  display: block;
}

.signIn button{
 
  background: #008DED;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;

  width: 175px;
  height: 38px;
  top: 10px;
}

.signIn img{
  width: 250px;
  height: 100px;
  top: 103px;
  left: 564px;
  margin-bottom: 30px;
  /* margin-top: 40px; */
}

.recaptcha{
  
  top: 10px;
  margin: 20px 50px;
  /* border: 1px solid #ddd; */
  /* box-sizing: border-box; */
  /* display: block; */
}

/*---------------------------------------------- REGISTER ----------------------------------------------*/
/* .signupImage img{
  align-items: left;
  width: 250px;
  height: 100px;
  top: 6px;
  left: 6px;
} */

.generalInfoSignUp {
  /* max-width: 400px; */
  margin: 0 auto;
  /* margin-bottom: 20px; */
  /* margin-top: 0px; */
  text-align: center;
  width:500px;
  height: 720px;/* 400px; /* how wide will the border around the information will be*/
  /* height: 750px; how long will the border around the information will be */
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}

.generalInfoSignUp-student {
  /* max-width: 400px; */
  margin: 0 auto;
  /* margin-bottom: 20px; */
  /* margin-top: 0px; */
  text-align: center;
  width:500px;
  height: 550px;
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}
.generalInfoSignUp-verify{
  margin: 0 auto;
  /* margin-bottom: 20px; */
  /* margin-top: 0px; */
  text-align: center;
  width:500px;
  height: 850px;
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}
.generalInfoSignUp-acreated{
  margin: 0 auto;
  /* margin-bottom: 20px; */
  /* margin-top: 0px; */
  text-align: center;
  width:500px;
  height: 350px;
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}
.generalInfoSignUp label, .generalInfoSignUp-student label, .changePass label, .generalInfoSignUp-verify label{
  text-align: left;
  margin: 0px 20px; /*under_label left*/
  display: block;
}

.generalInfoSignUp h1,  .generalInfoSignUp-student h1, .generalInfoSignUp-verify h1, .generalInfoSignUp-acreated h1{
  margin-top: 30px;
  font-size: 20px;
  color:#000000;
  margin-bottom: 30px;
}
/* 
.generalInfoSignUp .Select{
  height: 20px;
} */

.account-created h1{
  margin-top: 30px;
  margin-left: 10px;
  font-size: 20px;
  color:#000000;
  margin-bottom: 30px;
}

.account-created p, .askChangePass p, .changePass p{
  /* margin-top: 30px; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: justify;
  /* font-size: 20px; */
  /* color:#f1356d; */
  /* margin-bottom: 30px; */
}

.generalInfoSignUp h2, .askChangePass h1, .changePass h1,  .generalInfoSignUp-student h2, 
.generalInfoSignUp-verify h2, .generalInfoSignUp-acreated h2{
  /* font-size: 20px; */
  /* color:#f1356d; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.generalInfoSignUp input, .generalInfoSignUp select, .askChangePass input, .changePass input,  
.generalInfoSignUp-student input,  .generalInfoSignUp-student select{
  width: 90%; /*represents how log the box will be visually*/
  padding: 6px 10px; /* 10px = where it starts writting inside box; 6px = how thick the box is (size) downwards*/
  margin: 0px 20px 10px; /* 0px = how close the box is to label (above box); 20px = how close box is to left margin; 10px = how close the box is to the next box (below box) */
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;

}

.generalInfoSignUp button, .askChangePass button, .changePass button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  margin-bottom: 60px;
  /* width: 75px; */
  height: 38px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}
.generalInfoSignUp-student button, .generalInfoSignUp-verify button, .generalInfoSignUp-acreated button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  margin-bottom: 60px;
  width: 75px;
  margin-right: 10px;

  margin-left: 10px;
  height: 38px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.signupButtons button{
  margin-right: 50px;
  margin-left: 50px;
  display:inline-block;
}

.askChangePass {
  /* max-width: 400px; */
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  width:500px;
  height: 300px;/* 400px; /* how wide will the border around the information will be*/
  /* height: 750px; how long will the border around the information will be */
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}

.changePass {
  /* max-width: 400px; */
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  width:500px;
  height: 450px;/* 400px; /* how wide will the border around the information will be*/
  /* height: 750px; how long will the border around the information will be */
  left: 401px;
  top: 158px;
  
  border: 1px solid #5353539a;
  box-sizing: border-box;
}
/* .dropdown-project select{
  /* width: 100%; *
  padding: 6px 10px;
  margin: 0 10px; /* above_block left under_block 
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
} */


/*.backB button{
  background: #E54242;
   /* margin-right: 1px; 
  /* margin-bottom: -10px;  *
} */




/*---------------------------------------------- SPONSORS ----------------------------------------------*/
.sponsors h1{
  position: absolute;
  width: 477px;
  height: 45px;
  left: 450px;
  top: 300px;
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.004em;
  
  color: #000000;
}

.logo-preview img{
  width: 200px;
  height: 50px;
}
/* 
.project-preview-checkbox input{
  /* padding: 10px 100px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1); 
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;

}
.project-preview-checkbox {
  padding: 10px 100px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
} */

.dropdown-project select{
  
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd; 
  box-sizing: border-box;
  display: block;

}
/* .dropdown-project h2{
  font-size: 20px;
  color:#f1356d;
  margin-bottom: 30px;
} */


.checklist input{
  /* font-size: 100px; */
  display: inline-block; 
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 10px;

}


.verifying label{
  width: 35%;
  padding: 4px 0px;
  margin: 6px 10px;
  border: 2px #ddd solid;

  border:hidden;
  box-sizing: border-box;
  display: block;
  display:inline-block; 
}

/*---------------------------------------------- STAGE ----------------------------------------------*/
.bbb div {
  display: flex;
  justify-content: center;
}

.iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  height: 630px;
  width: 1120px;
  overflow-y: scroll;
}

.BarContainer {
  height: 20;
  width: 100%;
  background-color: rgb(128, 142, 133);
  border-radius: 50;
  margin: 50;
}

.UpcomingEvents{
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.event-item{
  height: 120px;
  width: 35%;
  border: solid black 1px;
  background-color: #979797;
  font-size: 1.5rem;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 1.2px;
  margin-bottom: 0.25rem;
  color: var(--primary);
}

.event-item p{
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 1.2px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
}

.event-item span{
  font-size: 1.8rem;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: black;
}



/* @keyframes k-loading-animation  {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

.k-i-loading.k-example-loading {
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(144,152,165);
}

.k-i-loading.k-example-loading::before,
.k-i-loading.k-example-loading::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    content: "";
    box-sizing: inherit;
    border-radius: 50%;
    border-width: .05em;
    border-style: solid;
    border-color: currentColor;
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
}
.k-icon.k-i-loading.k-example-loading::before,
.k-icon.k-i-loading::after {
    content: "";
}

.k-i-loading.k-example-loading::before {
    margin-top: -0.5em;
    margin-left: -0.5em;
    width: 1em;
    height: 1em;
    animation: k-loading-animation .7s linear infinite;
}

.k-i-loading.k-example-loading::after {
    margin-top: -0.25em;
    margin-left: -0.25em;
    width: .5em;
    height: .5em;
    animation: k-loading-animation reverse 1.4s linear infinite;
}

.example-wrapper {
    min-height: 280px;
    align-content: flex-start;
}
.example-wrapper p, .example-col p {
    margin: 20px 0 10px;
}
.example-wrapper p:first-child, .example-col p:first-child {
    margin-top: 0;
}
.example-col {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 20px;
}
.example-config {
    margin: 0 0 20px;
    padding: 20px;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.08);
}
.event-log {
    margin: 0;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    list-style-type: none;
    border: 1px solid rgba(0,0,0,.08);
    background-color: white;
}
.event-log li {
    margin: 0;
    padding: .3em;
    line-height: 1.2em;
    border-bottom: 1px solid rgba(0,0,0,.08);
}
.event-log li:last-child {
    margin-bottom: -1px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

/* .project-room button{
  background: #424240;
  color: #fff;
  border: 0;
  padding: 8px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 1000px;
  display: inline-block;
  cursor: pointer;
} */



:root {
  --primary-light: #39ddfa;
  --primary: #00abdf;
  --primary-dark: #008ada;
  
  --white: #FFFFFF;
  --greyLight-1: #ebf5fc;
  --greyLight-2: #d5e0f3;
  --greyLight-3: #c1d9f0;
  --greyDark: #646b8c;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.dribbble {
position: fixed;
font-size: 3.6rem;
right: 2rem;
top: 2rem;
color: #EA4C89;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-40px) scale(.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}




/* #app {
  margin-top: 40px;
} */
/* 
  outline: none;
} */

#email:valid {
  color: green;
}
#email:invalid {
  color: red;
}



.form-sr-rp{
  height: 20px;
}


